:root {
    --main-bg-color: #FAFAFA;
    --main-font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
    --main-text-color: #262626;
    --accent-text-color: #2196f3;
    --accent-highlight-text-color: #00BCD4;
}

body, html {
    opacity: 1;
    background: var(--main-bg-color);
}

main, article, nav, section {
    font-family: var(--main-font-family);
    color: var(--main-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    height: auto;
    margin: 0 10%;
    justify-content: space-around;
}


main {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--accent-text-color);
}

a:hover {
    color: var(--accent-highlight-text-color);
}

p {
    margin: 0;
    align-self: flex-start;
}
main > p  + p {
    margin-top: 12px;
}
h1 {
    margin: 8px 0;
}

h3, h4  {
    border-bottom: 2px dashed var(--main-text-color);
    font-style: italic;
    padding-bottom: .3em;
    letter-spacing: .04em;
}
.post h3, .post h4 {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.post li {
    text-align: left;
    padding-left: 10px;
    margin-top: 10px;

}
li {
    text-align: center;
}

li  + li {
    margin-top: 10px;
}

pre {
    width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}
u {
    text-decoration: underline;
}
br {
    margin: 5px 0;
}
img {
    margin-bottom: 20px;
    max-width: 100%;
}

blockquote {
    font-style: italic;
    font-size: 16px;
}

.back {
    border: 1px solid var(--accent-text-color);
    color: var(--accent-text-color);
    padding: 5px 10px;
    margin-top: 10px;
    margin-bottom: 30px;
    align-self: flex-end;
    transition: all .2s ease-out;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

.back:hover {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.24);
    color: var(--main-bg-color);
    background-color: var(--accent-highlight-text-color);
    border-color: var(--accent-highlight-text-color);
}

#intro {
    animation: fadein 2s;
    height: 100vh;
}

#intro > h1 {
    margin-top: -10%;
}

.blackout {
    background-color: #262626;
}

@media (min-width: 800px) {
    main {
	width: 80%;
    }
    h3, h4 {
        font-size: 1.95em;
    }
    p, small {
        line-height: 1.5em;
    }
    blockquote {
        margin-top: 2.5vh;
        margin-bottom: 2.5vh;
    }
}

@keyframes fadein {
    from  { opacity: 0;}
    to { opacity: 1; }
}
